# Entorno virtual
venv/
env/

# Base de datos SQLite
db.sqlite3

# Migraciones compiladas
*.pyc
__pycache__/

# Archivos temporales
*.log

# Configuración de VSCode
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db
